<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <!-- Barra de Navegación -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" style="height: 120px;" href="#">
        <img src="../Img/logo 1.jpg" alt="Logo" width="100" height="120" class="me-2 rounded-pill">
        <span class="fs-4">El lugar de los mil sabores</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Enlaces de navegación -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" style="font-size: 25px;" href="../Index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"style="font-size: 25px;" href="../Html/Menu.html">Menú</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-size: 25px;" href="../Html/Nosotros.html">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-size: 25px;" href="../Html/Contacto.html">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="font-size: 25px;" href="../Html/Domicilio.html">Domicilios</a>
          </li>
          <li class="nav-item">
            <a href=""class="btn text-light" style="font-size: 25px;" data-bs-toggle="modal" data-bs-target="#myModal">Reservas</a>
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Reservar</h4>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="mb-3">
                            <form id="reservaform">
                                <div class="mb-3">
                                    <label for="fecha" class="form-label">Fecha de reserva</label>
                                    <input type="date" class="form-control" id="personas" min="1" required>
                                </div>
                                <div class="mb-3">
                                    <label for="personas" class="form-label">Numero de personas</label>
                                    <input type="number" class="form-control" id="fecha" required>
                                </div>
                                <div class="mb-3">
                                    <label for="Nombre" class="form-label">Nombre Completo</label>
                                    <input type="text" class="form-control" id="nombre" required>
                               </div>
                               <div class="mb-3">
                                <label for="telefono" class="form-label">Telefono</label>
                                <input type="tel" class="form-control" id="telefono" required>
                                </div>
                                <div class="mb-3">
                                    <label for="coreo" class="form-label">Correo</label>
                                    <input type="email" class="form-control" id="correo" required>
                                </div>
                                <div class="mb-3">
                                    <label for="preferencia" class="form-label">Preferencias Adicionales</label>
                                    <textarea class="form-control" id="Preferencias" rows="3"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit"id="confirmres" class="btn btn-success">Confirmar Reserva</button>
                                </div>
                            </form>
                        </div>
                     </div>
                  </div>
               </div>
        </ul>
      </div>
    </div>
  </nav>
  <script>
    document.getElementById('confirmres').addEventListener('click', function() {
      alert('¡Tu reserva ha sido agendada!');
    })
  </script>
     <!-- Sección Quiénes Somos -->
<section class="bg-white text-dark text-center py-5">
    <div class="container">
        <h3 class="mb-4 "style="font-size: 60px; color: rgb(255, 123, 0);">Quienes somos</h3>
          <div class="row">
            <div class="col-xl-4 mb-4">
                <h4 style="font-size: 40px; margin-bottom: 20px;">Nosotros</h4>
                <img class="rounded-circle" src="../Img/Nosotros.jpg" style="height: 300px; width: 300px;margin-bottom: 20px;">
              <p style="font-size: 20px; text-align: justify;">Nuestro restaurante nació hace más de 15 años con el objetivo de ofrecer lo mejor de la comida tradicional.    A lo largo de estos años, nos hemos convertido en un lugar de referencia para quienes buscan disfrutar de los sabores tradicionales en un ambiente acogedor y familiar.</p>
            </div>
            <div class="col-xl-4 mb-4">
                <h4 style="font-size: 40px; margin-bottom: 20px;">Nuestro personal</h4>
                <img class="rounded-circle" src="../Img/Personal11.jpg" style="height: 300px; width: 300px; margin-bottom: 20px;">
              <p style="font-size: 20px; text-align: justify;">Nuestro personal está formado por un equipo apasionado y profesional, comprometido en ofrecer un servicio cálido y de calidad. Desde nuestros chefs hasta los camareros, todos trabajamos para que cada visita sea una experiencia memorable.</p>
            </div>
            <div class="col-xl-4 mb-4">
              <h4 style="font-size: 40px; margin-bottom: 20px;">Fundador</h4>
              <img class="rounded-circle" src="../Img/Hombre.avif" style="height: 300px; width: 300px; margin-bottom: 20px;">
            <p style="font-size: 20px; text-align: justify;">Carlos García es el fundador de "El lugar de los mil sabores", un restaurante que combina sabores locales e innovación. Con más de 10 años en la gastronomía, su enfoque en calidad y frescura lo ha convertido en un referente del sector.</p>
          </div>
          </div>
    </div>
</section>

  <!-- Sección de valores o misión -->
  <section class="bg-white text-dark text-center py-5 ">
    <div class="container">
      <h3 class="mb-4" style="font-size: 60px; color: rgb(255, 123, 0);">Nuestras Sucursales</h3>
      <div class="row">
        <div class="col-md-4 mb-4">
            <img class="img-thumbnail" src="../Img/S.Playa.jpg" style="height: 300px; width: 300px;">
          <h4 style="font-size: 35px;">Corporacion Club Santa Marta</h4>
          <p >Cra. 1c #22-93,Comuna 2, Santa Marta, Magdalena</p>
          <p>Buscamos constantemente nuevas formas de hacer las cosas, siempre con la finalidad de mejorar y adaptarnos a los cambios del mercado.</p>
        </div>
        <div class="col-md-4 mb-4">
            <img class=" img-thumbnail" src="../Img/S.Mirador.jpg" style="height: 300px; width: 300px;">
            <h4 style="font-size: 35px;">El mejor ajiaco del mundo</h4>
            <p>Calle 11 #6-20, Bogotá</p>
          <p>Un lugar ideal para disfrutar de una comida tranquila mientras se contempla el horizonte. Ya sea para una comida en familia o una ocasión especial, esta sucursal brinda una experiencia que eleva tanto el gusto como la vista.</p>
        </div>
        <div class="col-md-4 mb-4">
            <img class="img-thumbnail" src="../Img/S.Bosque.jpg" style="height: 300px; width: 300px;">
          <h4 style="font-size: 35px;">La puerta de la catedral</h4>
          <p>Cra 33 #25A-08, Teusaquillo, Bogotá</p>
          <p>Ofrece una experiencia culinaria única en un ambiente tranquilo y fresco. Con un diseño que armoniza con la naturaleza, nuestros comensales pueden disfrutar de nuestros platos tradicionales mientras se relajan en un entorno lleno de árboles y frescura.</p>
          
        </div>
      </div>
    </div>
  </section>
  
 <!--Pie de pagina-->
 <footer class="bg-dark text-white text-center p-4 mt-5">
  <div class="container">
  <div class="row">
  <!-- Primera columna -->
  <div class="col-md-4">
  <h5>Enlaces</h5>
  <ul class="list-unstyled">
  <li><a href="../Html/Index.html" class="text-white">Inicio</a></li>
  <li><a href="#" class="text-white">Menu</a></li>
  <li><a href="../Html/Nosotros.html" class="text-white">Nosotros</a></li>
  <li><a href="../Html/Contacto.html" class="text-white">Contacto</a></li>
  </ul>
  </div>
  <!-- Segundo columna -->
  <div class="col-md-4">
  <h5>Redes Sociales</h5>
  <ul class="list-unstyled">
  <li><img src="../Img/Face.webp" style="width: 40px;" alt=""><a href="#" class="text-white">Facebook</a></li>
  <li><img src="../Img/logowhatsapppng.webp" style="width: 40px;" alt=""><a href="#" class="text-white">WhatsApp</a></li>
  <li><img src="../Img/logoinstagram.png" style="width: 60px;" alt=""><a href="#" class="text-white">Instagram</a></li>
  </ul>
  </div>
  <!-- Tercer columna -->
  <div class="col-md-4">
  <h5>Contacto</h5>
  <p>Dirección: Calle 27 d sur # 27 c 51</p>
  <p>Email: Losmilsabores@gmail.com</p>
  <p>Telefono: 3202604788</p>
  </div>
  </div>
  </div>
  <div class="text-center mt-4">
  <p>&copy; 2025 Mi Sitio Web. Todos los derechos reservados.</p>
  </div>
  </footer>
</body>
</html>